<div class="container">


<div class="row">
   <% if current_user && current_user.admin %>
     <%= link_to "Add Product", "/products/new" %>
   <% end %>
  <% @products.each_slice(3) do |three_products| %>
    <div class="row">
        <% three_products.each do |product| %>
          <div class="col-md-4">
            <div class="thumbnail">
            <h2><%= link_to product.name, "/products/#{product.id}" %></h2>
           <img src="<%= product.images.first.url %>" class="img-responsive" >
            <h2>description: <%= product.description %></h2>
            <h2>Price: $<%= product.price %></h2>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
</div>