<% @product %>
<h2><%= @product.name %></h2>
<h2><%= @product.supplier.name %></h2>

<h2><%= @product.description %></h2>
<h2><% @product.images.each do |image| %></h2>
  <img src ="<%= image.url %>"
    <% end %>
<%= button_to "Delete", "/products/#{@product.id}", method: :delete, data: { confirm: 'are you sure?' } %>
<button class="btn btn-success"><a href="/products/<%= @product.id %>/edit">Edit</a></button>
